<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Abaikan file dan folder yang benar-benar ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>